html,
body {
  padding: 0;
  margin: 0;
  background:#fafafa;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color:#fff
}

body{
  height:100vh;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar{
  height: 10px;
  width: 10px;
  background: rgba(0,0,0,.3);
}

*::-webkit-scrollbar-thumb{
  background: #2b2a2a;
}

*::-webkit-scrollbar-thumb:hover{
  background: #353535;
}


.secondary-text-line {
  color:rgba(0,0,0,.5);
  font-size: 14px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.player-controls-icon-btn{
  height: 40px;
  width: 40px;
  margin: 0 5px;
  color: #fff !important;
}

.MuiListItem-gutters {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.MuiMenu-paper{
  background: rgb(10,10,10) !important;
}

.MuiMenu-list, .MuiList-root, .MuiPaper-root {
  outline: 0;
  border: 1px #111 solid;
  margin-right: 30px;
}

#pip-player:hover{
  filter:brightness(70%);
  cursor: grab;
}
#pip-player:active{
  cursor: grabbing;
}

.backdrop-blur::before{
      content: '';
      height:100%;
      width:100%;
      background : rgba(10,10,10, .9);
      backdrop-filter: blur(20px);
      position: absolute;
      top:0px;
      right: 0;
      z-index: -1;
}

.editors-pick-play-icon{
  opacity: 0;
  transition:all .2s;
  transform-origin: top;
}


.editors-pick-card:hover .editors-pick-play-icon{
  opacity: 1;
  transform: translateY(-5px);
}

.editors-pick-card:hover .editors-pick-play-icon:hover{
  filter: brightness(90%);
}

.editors-pick-card:hover .editors-pick-play-icon:active{
  filter: brightness(105%);
}

.editors-pick-card:hover{
  background: rgba(179, 177, 177, 0.5);
}

.media-card-on-hover-btn:hover{
transform:scale(1.15)
}

.media-card:hover .media-card-on-hover-btn-wrapper{
 visibility: visible !important;
  transform: translateY(10px);
}